In [1]:
import numpy as np
import pandas as pd
import math
import re
from scipy.stats import skew, kurtosis

In [2]:
df = pd.read_csv('data_3.csv', index_col='id')

In [3]:
df.head()

,fragment_one,start_one,end_one,resolution_one,chain_id_one,protein_id_one,fragment_two,start_two,end_two,resolution_two,chain_id_two,protein_id_two,rms,fragment_type,seq_type,tscore
id,,,,,,,,,,,,,,,,
2661,METASNILE,1,3,2.80,A,104L.pdb,METASNILE,716,718,1.66,A,4Y04.pdb,2.35063,111,3,1.638366
2672,METASNILE,1,3,2.80,A,104L.pdb,METASNILE,5,7,2.71,A,4Y4M.pdb,1.54444,111,3,-1.812570
2679,METASNILE,716,718,1.66,A,4Y04.pdb,METASNILE,5,7,2.71,A,4Y4M.pdb,2.00858,111,3,0.174204
2911,ASNILEPHE,2,4,2.80,A,104L.pdb,ASNILEPHE,71,73,2.20,A,4Y3K.pdb,2.17766,111,3,63.868294
2936,ASNILEPHE,2,4,2.80,A,104L.pdb,ASNILEPHE,303,305,1.67,A,4Y4X.pdb,2.56818,111,3,81.222265

In [4]:
def calc_t_score(group):
    mean = group['rms'].mean()    
    std = group['rms'].std()
    count = group['rms'].count()
    group['n'] = count
    group['mean'] = mean
    group['std'] = std
#     print(mean, std, count)
#     print(group['rms'])
#     print(group['fragment_one'].unique())

    if count <= 30:
        group['tscore'] = (group['rms'] - mean) / (std/(math.sqrt(count)))
    else:
        group['tscore'] = (group['rms'] - mean) / std
        
    group['skew'] = skew(group['tscore'])
    group['kurtosis'] = kurtosis(group['tscore'], fisher=True)
    return group

df = df.groupby('fragment_one').apply(calc_t_score)

In [5]:
df_final = df.drop(columns=['start_one', 'end_one', 'resolution_one',
       'chain_id_one', 'protein_id_one', 'fragment_two', 'start_two',
       'end_two', 'resolution_two', 'chain_id_two', 'protein_id_two',
       'seq_type'])

In [6]:
df_final.head(50)

,fragment_one,rms,fragment_type,tscore,n,mean,std,skew,kurtosis
id,,,,,,,,,
2661,METASNILE,2.350630,111,1.638366,3,1.967883,0.404633,-0.182902,-1.500000
2672,METASNILE,1.544440,111,-1.812570,3,1.967883,0.404633,-0.182902,-1.500000
2679,METASNILE,2.008580,111,0.174204,3,1.967883,0.404633,-0.182902,-1.500000
2911,ASNILEPHE,2.177660,111,2.398624,709,0.740419,0.599194,-0.016801,-1.630972
2936,ASNILEPHE,2.568180,111,3.050366,709,0.740419,0.599194,-0.016801,-1.630972
3027,ASNILEPHE,2.563590,111,3.042706,709,0.740419,0.599194,-0.016801,-1.630972
3318,ASNILEPHE,1.280320,111,0.901046,709,0.740419,0.599194,-0.016801,-1.630972
3329,ASNILEPHE,1.278850,111,0.898593,709,0.740419,0.599194,-0.016801,-1.630972
3334,ASNILEPHE,0.061513,111,-1.133031,709,0.740419,0.599194,-0.016801,-1.630972
3343,ASNILEPHE,1.413760,111,1.123745,709,0.740419,0.599194,-0.016801,-1.630972
3355,ASNILEPHE,1.278770,111,0.898459,709,0.740419,0.599194,-0.016801,-1.630972
3365,ASNILEPHE,0.057753,111,-1.139306,709,0.740419,0.599194,-0.016801,-1.630972
3377,ASNILEPHE,0.059533,111,-1.136335,709,0.740419,0.599194,-0.016801,-1.630972
3384,ASNILEPHE,1.278660,111,0.898276,709,0.740419,0.599194,-0.016801,-1.630972
3406,ASNILEPHE,0.056862,111,-1.140794,709,0.740419,0.599194,-0.016801,-1.630972
3418,ASNILEPHE,1.333410,111,0.989648,709,0.740419,0.599194,-0.016801,-1.630972
3456,ASNILEPHE,0.380884,111,-0.600030,709,0.740419,0.599194,-0.016801,-1.630972
3467,ASNILEPHE,0.049520,111,-1.153046,709,0.740419,0.599194,-0.016801,-1.630972
3473,ASNILEPHE,0.088087,111,-1.088681,709,0.740419,0.599194,-0.016801,-1.630972
3488,ASNILEPHE,0.293938,111,-0.745135,709,0.740419,0.599194,-0.016801,-1.630972
3496,ASNILEPHE,0.044540,111,-1.161357,709,0.740419,0.599194,-0.016801,-1.630972
3513,ASNILEPHE,1.279440,111,0.899577,709,0.740419,0.599194,-0.016801,-1.630972
3520,ASNILEPHE,0.058083,111,-1.138755,709,0.740419,0.599194,-0.016801,-1.630972
3525,ASNILEPHE,0.062201,111,-1.131883,709,0.740419,0.599194,-0.016801,-1.630972
3528,ASNILEPHE,1.279450,111,0.899594,709,0.740419,0.599194,-0.016801,-1.630972
3533,ASNILEPHE,0.053960,111,-1.145637,709,0.740419,0.599194,-0.016801,-1.630972
3541,ASNILEPHE,1.280220,111,0.900879,709,0.740419,0.599194,-0.016801,-1.630972
3552,ASNILEPHE,1.417220,111,1.129520,709,0.740419,0.599194,-0.016801,-1.630972
3562,ASNILEPHE,0.050951,111,-1.150657,709,0.740419,0.599194,-0.016801,-1.630972
3570,ASNILEPHE,0.046781,111,-1.157618,709,0.740419,0.599194,-0.016801,-1.630972
3580,ASNILEPHE,0.045063,111,-1.160484,709,0.740419,0.599194,-0.016801,-1.630972
3587,ASNILEPHE,0.054852,111,-1.144148,709,0.740419,0.599194,-0.016801,-1.630972
3599,ASNILEPHE,0.048745,111,-1.154339,709,0.740419,0.599194,-0.016801,-1.630972
3616,ASNILEPHE,0.044780,111,-1.160957,709,0.740419,0.599194,-0.016801,-1.630972
3626,ASNILEPHE,1.279370,111,0.899461,709,0.740419,0.599194,-0.016801,-1.630972
3640,ASNILEPHE,1.415400,111,1.126482,709,0.740419,0.599194,-0.016801,-1.630972
3649,ASNILEPHE,0.382777,111,-0.596871,709,0.740419,0.599194,-0.016801,-1.630972
3659,ASNILEPHE,0.046247,111,-1.158509,709,0.740419,0.599194,-0.016801,-1.630972
3673,ASNILEPHE,1.280740,111,0.901747,709,0.740419,0.599194,-0.016801,-1.630972
3687,ASNILEPHE,1.279180,111,0.899143,709,0.740419,0.599194,-0.016801,-1.630972
3700,ASNILEPHE,1.277370,111,0.896123,709,0.740419,0.599194,-0.016801,-1.630972
3710,ASNILEPHE,0.048308,111,-1.155069,709,0.740419,0.599194,-0.016801,-1.630972
3723,ASNILEPHE,0.064961,111,-1.127277,709,0.740419,0.599194,-0.016801,-1.630972
3741,ASNILEPHE,0.070841,111,-1.117464,709,0.740419,0.599194,-0.016801,-1.630972
3753,ASNILEPHE,1.273890,111,0.890315,709,0.740419,0.599194,-0.016801,-1.630972
3769,ASNILEPHE,0.612905,111,-0.212808,709,0.740419,0.599194,-0.016801,-1.630972
3779,ASNILEPHE,0.089121,111,-1.086955,709,0.740419,0.599194,-0.016801,-1.630972
3799,ASNILEPHE,1.278510,111,0.898025,709,0.740419,0.599194,-0.016801,-1.630972
3808,ASNILEPHE,1.277110,111,0.895689,709,0.740419,0.599194,-0.016801,-1.630972
3822,ASNILEPHE,0.064194,111,-1.128556,709,0.740419,0.599194,-0.016801,-1.630972

In [7]:
df_final_clean = df_final.groupby(['fragment_one']).mean()[['fragment_type', 'n', 'mean', 'std', 'skew', 'kurtosis']]

In [8]:
df_final_clean = df_final_clean.reset_index().fillna(0)

In [9]:
df_final_clean.head()

  fragment_one  fragment_type    n      mean       std      skew  kurtosis
0    ALAALAALA              3  325  0.864336  0.729351  0.402740 -1.599657
1    ALAALAARG             21   91  1.488131  0.497887 -0.580775  0.135429
2    ALAALAASN             21   21  0.661898  0.287421 -0.326125 -1.022283
3    ALAALAASP             21  120  1.274343  0.858643  0.112329 -1.472973
4    ALAALAGLN             21    6  0.845359  0.362645 -0.875807 -0.479346

In [10]:
seq = {
    'ALA': 'A',
    'ARG': 'R',
    'ASN' : 'N',
    'ASP': 'D',
    'CYS': 'C',
    'GLU': 'E',
    'GLN': 'Q',
    'GLY' : 'G',
    'HIS': 'H',
    'ILE': 'I',
    'LEU': 'L',
    'LYS': 'K',
    'MET': 'M',
    'PHE': 'F',
    'PRO': 'P',
    'SER': 'S',
    'THR': 'T',
    'TRP': 'W',
    'TYR': 'Y',
    'VAL': 'V'
}

In [11]:
def find_replace_multi_ordered(string):
    
    for item in sorted(seq.keys(), key = len, reverse = True):
        string = re.sub(item, seq[item], string)
    return string

In [12]:
df_final_clean['fragment_one'] = df_final_clean['fragment_one'].apply(find_replace_multi_ordered)

In [13]:
df_final_clean.head()

  fragment_one  fragment_type    n      mean       std      skew  kurtosis
0          AAA              3  325  0.864336  0.729351  0.402740 -1.599657
1          AAR             21   91  1.488131  0.497887 -0.580775  0.135429
2          AAN             21   21  0.661898  0.287421 -0.326125 -1.022283
3          AAD             21  120  1.274343  0.858643  0.112329 -1.472973
4          AAQ             21    6  0.845359  0.362645 -0.875807 -0.479346