In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as db
import math
import re
from scipy.stats import skew, kurtosis

In [2]:
engine = db.create_engine('mysql+pymysql://root:sudhanva@localhost:3306/bioproject')
connection = engine.connect()
metadata = db.MetaData()

In [3]:
inspector = db.inspect(engine)

In [4]:
inspector.get_table_names()

['all_combinations']

In [5]:
query = 'select * from all_combinations'

In [6]:
df = pd.read_sql(query, con=connection, index_col='id')

In [14]:
df.head()

,fragment_one,start_one,end_one,resolution_one,chain_id_one,protein_id_one,fragment_two,start_two,end_two,resolution_two,chain_id_two,protein_id_two,rms,fragment_type,seq_type
id,,,,,,,,,,,,,,,
1,SERTHRGLYSERALATHR,1,6,1.55,A,4Y3M.pdb,SERTHRGLYSERALATHR,1,6,1.28,A,4Y5M.pdb,0.275264,2211,6
2,SERTHRGLYSERALATHRTHRTHRPROILEASPSER,1,12,1.55,A,4Y3M.pdb,SERTHRGLYSERALATHRTHRTHRPROILEASPSER,1,12,1.40,A,4Y3F.pdb,0.101905,3411111,12
3,SERTHRGLYSERALATHRTHRTHRPROILEASPSERLEU,1,13,1.55,A,4Y3M.pdb,SERTHRGLYSERALATHRTHRTHRPROILEASPSERLEU,1,13,1.23,A,4Y3H.pdb,0.313550,34111111,13
4,SERTHRGLYSERALATHR,1,6,1.55,A,4Y3M.pdb,SERTHRGLYSERALATHR,1,6,1.29,A,4Y5N.pdb,0.168629,2211,6
5,SERTHRGLYSERALATHRTHRTHRPROILE,1,10,1.55,A,4Y3M.pdb,SERTHRGLYSERALATHRTHRTHRPROILE,1,10,0.99,A,4Y5L.pdb,0.717530,241111,10

In [15]:
df.describe().round(2)

,start_one,end_one,resolution_one,start_two,end_two,resolution_two,rms,seq_type
count,6207806.00,6207806.00,6207806.00,6207806.00,6207806.00,6207806.00,6207806.00,6207806.00
mean,200.91,218.66,1.34,212.73,230.47,1.39,0.50,18.74
std,363.77,364.02,0.32,413.38,413.16,0.43,0.42,11.14
min,-4.00,-2.00,0.99,-4.00,-2.00,0.99,0.01,3.00
25%,70.00,88.00,1.19,71.00,88.00,1.17,0.17,9.00
50%,175.00,191.00,1.29,176.00,192.00,1.29,0.48,17.00
75%,254.00,274.00,1.44,255.00,274.00,1.45,0.70,28.00
max,4727.00,4729.00,3.86,4727.00,4729.00,3.86,19.63,41.00

In [16]:
seq = {
    'ALA': 'A',
    'ARG': 'R',
    'ASN' : 'N',
    'ASP': 'D',
    'CYS': 'C',
    'GLU': 'E',
    'GLN': 'Q',
    'GLY' : 'G',
    'HIS': 'H',
    'ILE': 'I',
    'LEU': 'L',
    'LYS': 'K',
    'MET': 'M',
    'PHE': 'F',
    'PRO': 'P',
    'SER': 'S',
    'THR': 'T',
    'TRP': 'W',
    'TYR': 'Y',
    'VAL': 'V'
}

In [17]:
def calc_t_score(group):
    mean = group['rms'].mean()    
    std = group['rms'].std()
    count = group['rms'].count()
    group['n'] = count
    group['mean'] = mean
    group['std'] = std
#     print(mean, std, count)
#     print(group['rms'])
#     print(group['fragment_one'].unique())

    if count <= 30:
        group['tscore'] = (group['rms'] - mean) / (std/(math.sqrt(count)))
    else:
        group['tscore'] = (group['rms'] - mean) / std
        
    group['skew'] = skew(group['tscore'])
    group['kurtosis'] = kurtosis(group['tscore'], fisher=True)
    return group

In [18]:
def find_replace_multi_ordered(string):
    
    for item in sorted(seq.keys(), key = len, reverse = True):
        string = re.sub(item, seq[item], string)
    return string

In [19]:
for i in range(3, 42):
    df_temp = df[df['seq_type'] == i]
    df_temp = df_temp.groupby('fragment_one').apply(calc_t_score)
    
    df_final = df_temp.drop(columns=['start_one', 'end_one', 'resolution_one',
       'chain_id_one', 'protein_id_one', 'fragment_two', 'start_two',
       'end_two', 'resolution_two', 'chain_id_two', 'protein_id_two',
       'seq_type'])
    
    df_final.to_csv('./unfiltered/data_' + str(i) + '-unfiltered.csv', index=False)

    df_final_clean = df_final.groupby(['fragment_one', 'fragment_type']).mean()[['n', 'mean', 'std', 'skew', 'kurtosis', 'tscore']]
    df_final_clean = df_final_clean.reset_index().fillna(0)
    
    df_final_clean['fragment_one'] = df_final_clean['fragment_one'].apply(find_replace_multi_ordered)
    
    df_final_clean.to_csv('./filtered/data_' + str(i) + '-filtered.csv', index=False)
    print(i, end='-')

3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-

In [20]:
df_final.head(10)

,fragment_one,rms,fragment_type,n,mean,std,tscore,skew,kurtosis
id,,,,,,,,,
5006462,ASNGLYGLNVALGLNGLUALAVALGLULEULEUGLUGLNVALVALA...,1.43301,115457511133211,3,1.352500,0.072181,1.931903,0.500149,-1.5
5006463,ASNGLYGLNVALGLNGLUALAVALGLULEULEUGLUGLNVALVALA...,1.33092,115457511133211,3,1.352500,0.072181,-0.517830,0.500149,-1.5
5006540,ASNGLYGLNVALGLNGLUALAVALGLULEULEUGLUGLNVALVALA...,1.29357,115457511133211,3,1.352500,0.072181,-1.414073,0.500149,-1.5
5006549,GLYGLNVALGLNGLUALAVALGLULEULEUGLUGLNVALVALALAI...,1.30105,154575111332111,3,1.328880,0.049237,-0.978996,0.706642,-1.5
5006615,GLYGLNVALGLNGLUALAVALGLULEULEUGLUGLNVALVALALAI...,1.29986,154575111332111,3,1.328880,0.049237,-1.020858,0.706642,-1.5
5006635,GLYGLNVALGLNGLUALAVALGLULEULEUGLUGLNVALVALALAI...,1.38573,154575111332111,3,1.328880,0.049237,1.999854,0.706642,-1.5
5006648,GLNVALGLNGLUALAVALGLULEULEUGLUGLNVALVALALAILEG...,1.28801,545751113321111,3,1.319423,0.037171,-1.463749,0.443736,-1.5
5006700,GLNVALGLNGLUALAVALGLULEULEUGLUGLNVALVALALAILEG...,1.36046,545751113321111,3,1.319423,0.037171,1.912162,0.443736,-1.5
5006720,GLNVALGLNGLUALAVALGLULEULEUGLUGLNVALVALALAILEG...,1.30980,545751113321111,3,1.319423,0.037171,-0.448413,0.443736,-1.5
5006739,VALGLNGLUALAVALGLULEULEUGLUGLNVALVALALAILEGLNA...,1.22644,455751113321111,3,1.278050,0.047153,-1.895751,-0.398042,-1.5

In [21]:
df_final_clean.head(10)

,fragment_one,fragment_type,n,mean,std,skew,kurtosis,tscore
0,AAAKSGTWVLLKNIHLAPQWLVQLEKKLHSLSPHPSFRLFM,44411228113321211,1,0.800386,0.0,0.0,0.0,0.0
1,AAAWSLYQAGCSLRLLCPQAFSTTVWQFLAVLQEQFGSMAG,724615321132211,1,0.466296,0.0,0.0,0.0,0.0
2,AAAVPLDPVLNPQTNAPTPLGGAVLRATSPMHMQYLRNMGV,64651323321311,1,0.086925,0.0,0.0,0.0,0.0
3,AARLFEWLIAPMPPDHFYRRLWEREAVLVRRQDHTYYQGLF,4653321312232211,1,0.975136,0.0,0.0,0.0,0.0
4,AANWSKYSWLSVRYTYIPSCPSSTAGSIHMGFQYDMADTVP,4127141213231212112,1,0.447842,0.0,0.0,0.0,0.0
5,AADADVDRMCRLLEEDGAFILKGLLPFDVVESFNRELDVQM,4643216423111111,1,0.455009,0.0,0.0,0.0,0.0
6,AAGHLSLTVHRVGELLILEFEPTEAWDSTGPHALRNAMFAL,6337232241221111,1,0.159922,0.0,0.0,0.0,0.0
7,AAIISQYFEPGGLVHKVLEDAGQRPHIMDFTRLRVLNSFFS,333214223432123111,1,0.694355,0.0,0.0,0.0,0.0
8,AALLPEQWPALQAALPPGCPDALQYRATLDWPAAGHLSLTV,986132212112111,1,0.143741,0.0,0.0,0.0,0.0
9,AALPPGCPDALQYRATLDWPAAGHLSLTVHRVGELLILEFE,68431211221212311,1,0.122575,0.0,0.0,0.0,0.0